body{
    background-color: black;
    color: white;
    font-size: xx-large;
}
.pos{
    width: 500px;
    margin: auto;
    
}
p{
    border: 2px solid white;
    width: fit-content;
    border-radius: 25px;
    padding: 5px;
}
button{
    width: 150px;
    font-size: xx-large;
}